/* Body, Header and Footer */
body {
    margin: 0;
    background: cyan;
}
header {
    padding: 10px 0; 
    display: grid;
    grid-template-columns: 1fr 10fr;
    text-align: center;
    background: lightcyan;
}
/* Index */

.vorurDiv {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.varaDiv {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: fit-content;
    background: skyblue;
    margin: 20px 20px;
    padding: 15px;
}
.titill {
    align-self: center;
    font-family: fantasy;
    color: darkblue;
}
.cartimg {
    width: 86px;
    height: 86px;
}
.cart {
    margin-left: 20px;
    align-self: center;
}
.verd {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.logo {
    margin-left: 20px;
    height: 80%;
    align-self: center;
}
.voruMynd {
    width: 250px;
    height: 250px;
}

/* karfa.html */

.karfaContainer {
    display: grid;
    margin-top: 3em;
}
.karfaVorur {
    display: flex;
    flex-flow: column;
    align-self: center;
    margin: auto;
    padding: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.karfaVara {
    align-self: center;
    border-bottom: 2px solid black;
    padding: 10px 0;
    text-align: center;
}
.karfaNafn {
    font-family: Arial, Helvetica, sans-serif;
}
.karfaMynd {
    width: 150px;
    height: 150px;
}
.karfaVerd {
    font-weight: bold;
}
.summa {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
.titillDiv {
    text-align: center;
}

/* Karfa Form */
.formDiv {
    display: flex;
}
.karfaForm {
    display: flex;
    align-self: center;
    text-align: right;
    margin: auto;
    flex-flow: column;
    font-family: Arial;
    font-size: 1.2em;
}
label {
    color: purple;
    margin-top: 20px;
}
fieldset {
    padding: 1em 2em;
    border-color: indigo;
}
.stadfesta {
    color: indigo;
    padding: 5px;
    font-size: 0.8em;
    margin-top: 15px;
    align-self: center;
}
.submit {
    align-self: center;
}
input[type=text],input[type=email] {
    padding: 5px;
}


/* Result.html */

table.table {
    border: 2px solid #FFFFFF;
    min-width: 60%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
  }
  table.table td, table.table th {
    border: 1px solid indigo;
    padding: 6px;
    color: darkslategrey;
  }
  table.table tbody td {
    font-size: 18px;
  }
  table.table td:nth-child(even) {
    background: #EBEBEB;
  }
  table.table thead {
    background: #FFFFFF;
    border-bottom: 4px solid blue;
  }
  table.table thead th {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }
  
  table.table tfoot {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    color: #333333;
    border-top: 3px solid ;
  }
  table.table tfoot td {
    font-size: 20px;
  }

.tableimg {
    width: 100px;
}